@import "../../../styles/variables";

.featuredContainer {
    width: 100%;
    margin-bottom: 100px;
}

.featured {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px 10px;
    align-content: center;
    .featuredImageContainer {
        grid-column: 1/8;
        grid-row: 1/-1;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 4px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 37.5em) {
            grid-column: 1/-1;
            z-index: 4;
            opacity: 0.25;
        }
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
            object-position: center center;
            @media only screen and (max-width: 37.5em) {
                object-fit: cover;
                grid-column: 1/-1;
            }
        }
    }
}

.contentContainer {
    text-align: right;
    grid-column: 7/-1;
    grid-row: 1/-1;
    @media only screen and (max-width: 37.5em)  {
        grid-column: 1/-1;
        background-color: $medBlue;
    }
    .featuredTitle {
        color: $veryLight;
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
        @media only screen and (max-width: 37.5em)  {
            z-index: 3;
            margin: 20px 25px 0 0;
        }
    }
    .projectDescription {
        background-color: $medBlue;
        box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
        border-radius: 3px;
        position: relative;
        opacity: .9;
        z-index: 2;
        @media only screen and (max-width: 37.5em)  {
            height: 100%;
            opacity: 1;
            box-shadow: none;
            z-index: auto;
        }
        .projectDescriptionInner {
            padding: 25px;
            color: $lightBlue;
            .githubLink {
                position: relative;
                a {
                    height: 30px;
                    width: auto;
                    position: relative;
                    z-index: 9999;
                }
                svg {
                    position: relative;
                    height: 30px;
                    width: auto;
                    color: $lightBlue;
                }
            }
        }
    }
    .technologies {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 20px 0;
        @media only screen and (max-width: 37.5em)  {
            margin-right: 25px;
        }
        li {
            padding-left: 30px;
            color: $lightGreen;
            font-family: $firaCode;
            font-size: 13px;
        }
    }
}