@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i&display=swap");

$darkBlue: #0A192F;
$lightGreen: #02cbb7;
$lightBlue: #7798ab;
$veryLight: #e4f1ff;
$medBlue: #172A45;

$firaCode: "Fira Code", monospace;
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

@mixin pageHeading {
  h1 {
    color: $veryLight;
    font-size: 225%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: $medBlue;
      display: block;
      position: relative;
      margin-left: 20px;
    }
  }
}

@mixin section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
